name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
        
      - name: Most used (with details)
        uses: lowlighter/metrics@latest
        with:
            filename: metrics.plugin.languages.details.svg
            token: ${{ secrets.METRICS_TOKEN }}
            base: ""
            plugin_languages: yes
            plugin_languages_indepth: yes
            commits_authoring: firstname lastname, username, username@users.noreply.github.com
            plugin_languages_details: bytes-size, percentage
            plugin_languages_limit: 4

      

